[Unit]
Description=OwnCrawler fetcher daemon
After=network.target

[Service]
ExecStart=/srv/owlcrawler/fetcher -logtostderr=true -v=2
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
