[Unit]
Description=NATS daemon
After=network.target

[Service]
ExecStart=/usr/local/natsd/gnatsd -c /usr/local/natsd/natsd.conf
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
