[Unit]
Description=OwnCrawler extractor daemon
After=network.target

[Service]
ExecStart=/srv/owlcrawler/extractor -logtostderr=true -v=2
Restart=on-failure
RestartSec=10s
User=owlcrawler

[Install]
WantedBy=multi-user.target
